# Unit 2
---




1. [Introducing Pandas](#section1)
2. [Reading files](#section2)
3. [Selecting data](#section3)
4. [Conditional selection](#section4)

<a id='section1'></a>

## 1. Introducing Pandas
---

<div>
<img src="images/pandas.JPG" width="400"/>
</div>



[Panda's documentation](https://pandas.pydata.org/pandas-docs/stable/)

To begin we need to import pandas
When you see pd, know it is referring to pandas

In [1]:
import numpy as np
import pandas as pd

Pandas is a popular Python library used for working in tabular data (similar to the data stored in a spreadsheet).

There are two main data structure used by pandas
- Series: like a vector or a list
- Dataframe: equivalent to a table. 

Each column in a pandas Dataframe is a pandas Series data structure. We will mainly be looking at the Dataframe.

We can easily create a Pandas Dataframe by reading a .csv file

<a id='section2'></a>

## 2. Reading files
---

<div>
<img src="images/reading.PNG" width="400"/>
</div>


We will read the whole file at once using Pandas.
Sometimes you might want to read the file line by line, and process each line. Thats possible of course. See for example [here.](https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/)

We will read data on [COVID-19 vaccinations](https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations)

In order to do that, I retrieved the raw data's url

<div>
<img src="images/raw.png" width="800"/>
</div>

In [3]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

read_csv has about 30 different options. See the 
[documentation](https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

For example, sep='\t' is used for tab delimited files and 'usecol' reads only specific columns.

In [4]:
type(vacc_df)

pandas.core.frame.DataFrame

view the shape of the dataframe:

In [5]:
vacc_df.shape

(5739, 12)

view basic information:

In [6]:
vacc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5739 entries, 0 to 5738
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             5739 non-null   object
 1   iso_code                             5399 non-null   object
 2   date                                 5739 non-null   object
 3   total_vaccinations                   3711 non-null   float64
 4   people_vaccinated                    3312 non-null   float64
 5   people_fully_vaccinated              2262 non-null   float64
 6   daily_vaccinations_raw               3142 non-null   float64
 7   daily_vaccinations                   5551 non-null   float64
 8   total_vaccinations_per_hundred       3711 non-null   float64
 9   people_vaccinated_per_hundred        3312 non-null   float64
 10  people_fully_vaccinated_per_hundred  2262 non-null   float64
 11  daily_vaccinations_per_million       5551 non-null   float64
dtypes: float64(9), object(3)
memory usage: 538.2+ KB

In [7]:
vacc_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'daily_vaccinations_per_million'],
      dtype='object')

View the first few rows:

In [8]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0

What do you think that the 'tail' command does? Try it out!

What happens if we just type vacc_df, without a head or a tail?

In [10]:
vacc_df.tail()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
5734,Zimbabwe,ZWE,2021-03-04,30658.0,30658.0,NaN,2688.0,2807.0,0.21,0.21,NaN,189.0
5735,Zimbabwe,ZWE,2021-03-05,31325.0,31325.0,NaN,667.0,2678.0,0.21,0.21,NaN,180.0
5736,Zimbabwe,ZWE,2021-03-06,32014.0,32014.0,NaN,689.0,2330.0,0.22,0.22,NaN,157.0
5737,Zimbabwe,ZWE,2021-03-07,32240.0,32240.0,NaN,226.0,1914.0,0.22,0.22,NaN,129.0
5738,Zimbabwe,ZWE,2021-03-08,35518.0,35518.0,NaN,3278.0,2009.0,0.24,0.24,NaN,135.0

In [11]:
vacc_df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,3.711000e+03,3.312000e+03,2.262000e+03,3.142000e+03,5.551000e+03,3711.000000,3312.000000,2262.000000,5551.000000
mean,4.599230e+06,3.393403e+06,1.375178e+06,1.897142e+05,1.161420e+05,7.861827,6.176329,2.619434,2487.203567
std,2.211685e+07,1.401243e+07,5.754136e+06,8.088874e+05,5.443656e+05,14.791279,10.279674,6.112546,4340.273839
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,3.637650e+04,3.624875e+04,1.624100e+04,2.855250e+03,1.174500e+03,0.600000,0.610000,0.270000,339.500000
50%,2.658430e+05,2.430630e+05,8.590200e+04,1.456350e+04,7.000000e+03,2.940000,2.650000,1.005000,1112.000000
75%,1.393833e+06,1.149156e+06,4.762110e+05,7.408250e+04,3.653550e+04,7.680000,5.990000,2.380000,2546.500000
max,3.122499e+08,1.866705e+08,6.860426e+07,1.648734e+07,8.669903e+06,129.740000,83.520000,46.220000,54264.000000

A summary of the functions so far:

* `pd.read_csv` - Read data from a CSV file into a Pandas `DataFrame` object
* `.info()` - View basic infomation about rows, columns & data types
* `.describe()` - View statistical information about numeric columns
* `.columns` - Get the list of column names
* `.shape` - Get the number of rows & columns as a tuple
* `.head`, `.tail`

<a id='section3'></a>

---
## 3. Selecting data

![](https://i.imgur.com/zfxLzEv.png)

In [ ]:
# Pandas format is NOT similar to this
covid_data_list = [
    {'date': '2020-08-30', 'new_cases': 1444, 'new_deaths': 1, 'new_tests': 53541},
    {'date': '2020-08-31', 'new_cases': 1365, 'new_deaths': 4, 'new_tests': 42583},
    {'date': '2020-09-01', 'new_cases': 996, 'new_deaths': 6, 'new_tests': 54395},
    {'date': '2020-09-02', 'new_cases': 975, 'new_deaths': 8 },
    {'date': '2020-09-03', 'new_cases': 1326, 'new_deaths': 6},
]
covid_data_list

In [ ]:
# Pandas format is simliar to this
covid_data_dict = {
    'date':       ['2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03'],
    'new_cases':  [1444, 1365, 996, 975, 1326],
    'new_deaths': [1, 4, 6, 8, 6],
    'new_tests': [53541, 42583, 54395, None, None]
}

#### The index of a dataframe doesn't have to be numeric

In [ ]:
df = pd.DataFrame({'age':[30, 2, 12, 4, 32, 33, 69],
                   'color':['blue', 'green', 'red', 'white', 'gray', 'black', 'red'],
                   'food':['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
                   'height':[165, 70, 120, 80, 180, 172, 150],
                   'score':[4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'state':['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])
df

In our case it just happens to be numeric:

In [ ]:
vacc_df.head()

In [ ]:
vacc_df.location
#is the same as this:
vacc_df['location']

note: using the `.` notation is possible only for columns whose names do not contain spaces or special characters

what data type is vacc_df.location? (list? series? dataframe?)

In [ ]:
type(vacc_df.location)

In [ ]:
#retrieve a specific cell
vacc_df.location[333]

In [ ]:
#retrieve two columns
vacc_df[['location','date']]

#### Seletcting subsets of rows and columns

One way to do that is iloc. 

`.iloc` - selects subsets of rows and columns by integer location only

In [ ]:
#Rows:
vacc_df.iloc[0]  #first row
vacc_df.iloc[-1] #last row

The : operator 

 - when used alone it means "everything"

- also used to indicate a ***slice*** of values

In [ ]:
vacc_df.iloc[1:2] # second and third row
vacc_df.iloc[[-1,2,22]] #a few specific rows

# Columns:
vacc_df.iloc[:,0] # first column of data frame  
vacc_df.iloc[:,1] # second column of data frame  
vacc_df.iloc[:,-1] # last column of data frame

#Rows and columns
vacc_df.iloc[0:5] # first five rows of dataframe
vacc_df.iloc[:, 0:2] # first two columns of data frame with all rows
vacc_df.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

What if I want to select the 'daily_vaccinations' column, but I don't remember which column it is?

Use `.loc`

`.loc` - selects subsets of rows and columns by label only. Allowed inputs are:

- A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).

- A list or array of labels, e.g. ['a', 'b', 'c'].

- A slice object with labels, e.g. 'a':'f'.

In [ ]:
vacc_df.loc[:,'daily_vaccinations']

I'm missing the location. Let's add it.

In [ ]:
vacc_df.loc[:,['location','daily_vaccinations']]

#vacc_df.loc[0:4:,['location', 'total_vaccinations']]  this is to select specific rows

Semantics are similar to iloc. But note:

- `iloc` excludes the last element.  `df.iloc[0:1000]` will return entries 0...999
- `loc`, includes the last element.  `df.loc[0:1000]` will return entries 0...1000

you try it! What is the difference between:

> vacc_df.iloc[0:5]

> vacc_df.loc[0:5]

---
---

Now you: 

what do you do to select:

a. first five rows?

b. first two columns, all rows?

c. 1st and 3rd row and 2nd and 4th column?

---
---

---
A summary of the functions in this unit:

* `.iloc` - selects rows and columns by integer location
* `.loc` - selects rows and columns by label location

Note: indexing operators as the ones working on dictionaries, will also work in pandas. But for more advanced operations, better get used to loc and iloc.

---

<a id='section4'></a>

## 4. Conditional selection

In [ ]:
vacc_df.loc[:,'location'] == 'Israel'

This creates a series of true/false 

We can insert this into data to select only that task:

In [ ]:
vacc_df[vacc_df.loc[:,'location'] == 'Israel']

Another way:

In [ ]:
vacc_df.loc[vacc_df.location == 'Israel']

Select two countries:

In [ ]:
two_countries = vacc_df.loc[(vacc_df.location == 'Israel') | (vacc_df.location == 'Denmark')]
two_countries

only the indexs of the tasks:

In [ ]:
two_countries.index.values

the index in the first place:

In [93]:
two_countries.index.values[0]

1331

how many rows for the two countries?

In [ ]:
two_countries.count()

At the end of the file we have some world data.

Use str.contains if you're not sure how this location is called

In [ ]:
            
vacc_df[vacc_df['location'].str.contains('World')]

Remove the world data:

In [7]:
vacc_df_noWorld = vacc_df.loc[vacc_df.location != 'World']
vacc_df_noWorld.tail()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
6490,Zimbabwe,ZWE,2021-03-10,35901.0,35901.0,NaN,140.0,1133.0,0.24,0.24,NaN,76.0
6491,Zimbabwe,ZWE,2021-03-11,36019.0,36019.0,NaN,118.0,766.0,0.24,0.24,NaN,52.0
6492,Zimbabwe,ZWE,2021-03-12,36283.0,36283.0,NaN,264.0,708.0,0.24,0.24,NaN,48.0
6493,Zimbabwe,ZWE,2021-03-13,36359.0,36359.0,NaN,76.0,621.0,0.24,0.24,NaN,42.0
6494,Zimbabwe,ZWE,2021-03-14,36359.0,36359.0,NaN,0.0,588.0,0.24,0.24,NaN,40.0

Find the country with the maximum vaccinations:

In [ ]:
max_vacc = vacc_df_noWorld.total_vaccinations.max()
max_vacc

In [ ]:
vacc_df_noWorld.loc[vacc_df_noWorld.total_vaccinations == max_vacc]

What do you think this function does?

In [ ]:
vacc_df_noWorld.total_vaccinations.mean()

----
#### Your turn:

Select the number of vaccinations in Israel on date 2021-02-06 (hint: use &)

In [5]:
selected = vacc_df.loc[(vacc_df.location == 'Israel') & (vacc_df.date == '2021-02-06')] 
selected.total_vaccinations

3114    5538885.0
Name: total_vaccinations, dtype: float64

Find all the countries with more than 3000000 vaccinations

In [9]:
vacc_df_noWorld.location[vacc_df_noWorld.total_vaccinations >= 3000000]

509        Bangladesh
511        Bangladesh
513        Bangladesh
516        Bangladesh
518        Bangladesh
            ...
6243    United States
6244    United States
6245    United States
6246    United States
6247    United States
Name: location, Length: 659, dtype: object

---
Summary of the functions in this unit:

* `.index.values` - the row indexes of this part of the dataframes
* `.str.contains` - selects rows and columns that contain a string
* `.max` - maximum value
* `.mean` - average value
* `.count` - the number of rows that contain a value